{% extends 'alpha/index.html' %}
{% load static %}
{% block title %}About{% endblock %}

<link rel="stylesheet" href="{%static 'css/about.css'%}" media="screen">

{% block content %}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="About alpha.DC">
    <meta name="description" content="">
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/default-logo.png",
		"sameAs": [
				"https://github.com/asrar19",
				"https://www.instagram.com/ar110s",
				"https://www.linkedin.com/in/asrar747"
		]
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="about">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>





  <body class="u-body u-xl-mode" data-lang="en">


    <section class="u-clearfix u-section-1" id="carousel_d34b">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-align-left-md u-container-align-left-sm u-container-align-left-xs u-container-style u-image u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1" data-image-width="2560" data-image-height="1440">
              <div class="u-border-3 u-border-grey-75 u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1"></div>
            </div>
            <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <h2 class="u-custom-font u-font-courier-new u-text u-text-custom-color-1 u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000"> Learn About Data Center</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-clearfix u-custom-color-1 u-section-2" id="carousel_f301">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-align-center u-custom-font u-font-raleway u-text u-text-1"> About Alpha.DC</h3>
        <p class="u-align-center u-custom-font u-font-raleway u-text u-text-grey-10 u-text-2">Here in Alpha.DC we are interested in data centers field , 
          so made a perfect solution to help you with building your data center in the best way and provide you with all the possible needs for it , 
          but first we will explain what is Data Center.&nbsp;</p>
      </div>
    </section>



    <!--  -->
    <section class="u-clearfix u-grey-5 u-section-3" id="sec-9e56">
      <div class="u-clearfix u-sheet u-sheet-1">
   
        <h3 class="u-custom-font u-font-raleway u-text u-text-custom-color-1 u-text-1">What is Data center?</h3> 
        <p class="u-custom-font u-font-raleway u-text u-text-custom-color-2 u-text-2"> A data center is a physical room, building or facility that houses IT infrastructure for building, running, and delivering applications and services, and for storing and managing the data associated with those applications and services.Data centers have evolved in recent years from privately-owned, tightly-controlled on-premises facilities housing traditional IT infrastructure for the exclusive use of one company, to remote facilities or networks of facilities owned by cloud service providers housing virtualized IT infrastructure for the shared use of multiple companies and customers.
        </p>
      </div>
    </section>
  



    <section class="u-clearfix u-custom-color-1 u-section-4" id="sec-a2a2">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/Amow8BJm5Go?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </section>
    

<div id="service" class="Services">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="titlepage">
              <h2>Types Of Data Centers </h2>
              <p>There is 4 primary types of Data Center 
              </p>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="Services-box">
              <i><img src="{% static 'images/service1.png'%}" alt="#" /></i>
              <h3> Enterprise data centers</h3>
              <p>are typically constructed and used by a single organization for their own internal purposes. These are common among tech giants.</p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="Services-box">
              <i><img src="{% static 'images/service2.png'%}" alt="#" /></i>
              <h3>Colocation data centers</h3>
              <p>function as a kind of rental property where the space and resources of a data center are made available to the people willing to rent it.</p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="Services-box">
              <i><img src="{% static 'images/service3.png'%}" alt="#" /></i>
              <h3>Managed service data centers</h3>
              <p>offer aspects such as data storage, computing, and other services as a third party, serving customers directly.</p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="Services-box">
              <i><img src="{% static 'images/service4.png'%}" alt="#" /></i>
              <h3>Cloud data centers</h3>
              <p>are distributed and are sometimes offered to customers with the help of a third-party managed service provider.</p>
           </div>
        </div>


    
     </div>
  </div>
</div>


<!-- end Servicess -->
<!-- why -->
<div id="why" class="why">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="titlepage">
              <h2>Typical Composition of Data Center Architecture</h2>
              <p>The data center has plenty of functions and supports different types of services, such as data computing, storage, processing, etc, resulting in a variety of data center architecture.The data center architecture mainly consists of three parts: data center network, security, and computing architecture. Apart from these three, there are some other data center architectures, such as data center physical architecture and data center information architecture. The following will mainly interpret three typical compositions of it. </p>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div id="box_ho" class="why-box">
              <i><img src="{% static 'images/3211252-3940a4db.png'%}" alt="#" /></i>
              <h3>Data Center Computing</h3>
              <p>Servers are the engines of the Data centers must use processors that are best suited for the
                task, e.g. general purpose CPUs may not be the best choice to solve artificial
                intelligence (AI) and machine learning (ML) problems.
              </p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="why-box">
              <i><img src="{% static 'images/3160887-3f8ee026.png'%}" alt="#" /></i>
              <h3>Data Center Storage</h3>
              <p>Data centers host large quantities of sensitive information, both for their own purposes and the needs of their customers. Decreasing costs of storage media increases the amount of storage available for backing up the data either locally, remote, or both. Advancements in non-volatile storage media lowers data access times.</p>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
           <div class="why-box">
              <i><img src="{% static 'images/1231223-37472721.png'%}" alt="#" /></i>
              <h3>Data Center Networks</h3>
              <p>Datacenter network equipment includes cabling, switches, routers, and firewalls that connect servers together and to the outside world. Properly configured and structured, they can manage high volumes of trafficwithout compromising performance. </p>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- end why -->
<!-- contact -->



{% endblock  %}