{% extends 'alpha/index.html' %}
{% load static%}


{% block title %} Contact {% endblock %}

{% block content %}


<div class="container-fluid align-items-center  ">
  <section class="u-black u-clearfix u-section-1 align-items-center u-align-center" id="sec-af52">
      <div class="u-clearfix u-sheet u-sheet-1 align-items-center u-align-center">
        <p class="u-custom-font u-font-playfair-display u-text u-text-white u-title u-text-1 align-items-center" style="font-size:250%;">Add your feedback here&nbsp;</p>
      </br>


        <div class="u-container-style u-group u-group-1 align-items-center u-align-center u-container-align-center">
          <section class="u-black u-clearfix u-section-1 u-align-center" id="sec-37b5">
              <div class="u-clearfix u-sheet u-sheet-1">
        
            <form action="" method="post"
            class="contact-form col-md-10 col-lg-8 m-auto align-items-center u-align-center">
                {% csrf_token %}
            
                <div class="form-row">
                    <div class="form-group col-sm-6">
                      
                        <input type="text" name='user_name' size="50" class="form-control" placeholder="Your-Name" required>
                    </div>
            
                    <div class="form-group col-sm-12">
                        <textarea name="user_comment" id="comment" rows="6" class="form-control"
                            placeholder="Write Your Comment..."></textarea>
                    </div>
                    <div class="form-group col-sm-12 mt-3">
            
                        <input type="submit" value="Send-Message" class="btn btn-outline-primary rounded">
            
                    </div>
                </div>
            </form>
        
            
        </div>
      </div>
    </section>


    
    




{% endblock  %}


