{% extends 'alpha/index.html' %}
{% load static%}
{% load mul %}


{% block title %} Services {% endblock %}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"  href="{% static 'css/sub_services.css'%}">


{% block content %}

 

<div class="container">
  <img src="{% static 'images/5.jpg'%}" alt="" style="width:100%;">
  <div class="centered"><h1>Welcome to Service 1 </h1></div>
</div>


<style>

h1{
  font-family: "Times New Roman", Times, serif;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



table, th, td {
  border: 1px solid;
  text-align: center;
  width:auto;
  background-color: #34345a;
  color: #e9d8eb;


}

th{ 
  color: #ffffff;

}

h4{
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: #34345a;
}

</style>


<hr>
<h4>your choices are :</h4>

<table class="table" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">nodes</th>
      <th scope="col">tier level</th>
      <th scope="col">facility size</th>
      <th scope="col">room area (SQFT)</th>

    </tr>
  </thead>
  <tbody>
  
    <tr>
      <th scope="row">1</th>
      <td>0-30</td>
      <td>I</td>
      <td>Small</td>
      <td>{{request.POST.sqft}}</td>

  </tbody>
</table>

<hr>
</br>

<h4>Tier I Features </h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Feature</th>
      <th scope="col">Tier I</th>


    </tr>
  </thead>
  <tbody>
  
    <tr>
      <th scope="row">1</th>
      <td>Uptime guarantee</td>
      <td>99.671%	</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Downtime per year	</td>
      <td> more than 28.8 hours	</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Component redundancy	</td>
      <td>none</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Concurrently maintainable	</td>
      <td>no</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Price</td>
      <td>$</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Compartmentalization</td>
      <td>no</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Staffing</td>
      <td>none</td>
    </tr>

    <tr>
      <th scope="row">8</th>
      <td>Typical customer</td>
      <td>	Small companies and start-ups with simple requirements</td>
    </tr>

    <tr>
      <th scope="row">9</th>
      <td>The main reason why companies select this tier</td>
      <td>The most affordable data center tier	</td>
    </tr>

  </tbody>
</table>

<hr>
</br>



<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cost Component</th>
        <th scope="col">SQFT /Unit</th>
        <th scope="col">Low Cost/sqft</th>
        <th scope="col">High Cost/sqft</th>
        <th scope="col">Total Low Cost</th>
        <th scope="col">Total High Cost</th>
      </tr>
    </thead>
    <tbody>
    
      <tr>
        <th scope="row">1</th>
        <td>Building Shell</td>
        <td>{{request.POST.sqft}}</td>
        <td>$80</td>
        <td>$160</td>
        <td>${{request.POST.sqft|multiply:80}}</td>
        <td>${{request.POST.sqft|multiply:160}}</td>

      </tr>


      <tr>
      <th scope="row">2</th>
      <td>Electrical Systems</td>
      <td>{{request.POST.sqft}}</td>
      <td>$280</td>
      <td>$460</td>
      <td>${{request.POST.sqft|multiply:280}}</td>
      <td>${{request.POST.sqft|multiply:460}}</td>

    </tr>
    <tr>
    <th scope="row">3</th>
    <td>HVAC / Mechanical / Cooling	</td>
    <td>{{request.POST.sqft}}</td>
    <td>$125</td>
    <td>$215</td>
    <td>${{request.POST.sqft|multiply:125}}</td>
    <td>${{request.POST.sqft|multiply:215}}</td>

  </tr>
  <tr>
  <th scope="row">4</th>
  <td>Fire Suppression	</td>
  <td>{{request.POST.sqft}}</td>
  <td>$15</td>
  <td>$25</td>
  <td>${{request.POST.sqft|multiply:15}}</td>
  <td>${{request.POST.sqft|multiply:25}}</td>

</tr>
<tr>
<th scope="row">5</th>
<td>Building Fit-Out</td>
<td>{{request.POST.sqft}}</td>
<td>$100</td>
<td>$200</td>
<td>${{request.POST.sqft|multiply:100}}</td>
<td>${{request.POST.sqft|multiply:200}}</td>

</tr>
<tr>
<th scope="row">6</th>
<td style="color: white; font-style: oblique;">Total Development Costs	</td>
<td>{{request.POST.sqft}}</td>
<td>$600</td>
<td>$1,060</td>
<td>${{totalLow}}</td>
<td>${{totalMax}}</td>

</tr>

    </tbody>
  </table>

{% endblock  %}