
{% extends 'alpha/index.html' %}
{% load static%}
{% load mul %}


{% block title %} Service 2  {% endblock %}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"  href="{% static 'css/sub_services.css'%}">


{% block content %}

 
<section class="u-clearfix u-grey-10 u-section-1" id="carousel_e67a">
  <img style="float: right;padding-right: 90px; padding-top: 50px;  " src="{% static 'images/33809698_81137890471.png'%}" alt="" width="400" height="400" >
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-align-center u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
      <div class="u-container-layout">
        <h6 class=" animate__animated animate__bounce u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-1" style="padding-left: 20px;">This is service 2 .&nbsp;</h6>
        <h5 class="u-align-left u-custom-font u-font-montserrat u-text u-text-custom-color-1 u-text-2"> Here you can find everything you will need in this service , depending on your answers for the pervious questions .&nbsp;</h5>
      </div>
    </div>
  </div>
</section>




<!-- Choices  ------------------------------------------------------------------------------>

<section class="u-clearfix u-custom-color-2 u-section-2" id="sec-af16">
  <h3 class="u-align-center animate__animated animate__lightSpeedInRigh " style="size: 27px; font-family: 'Times New Roman';">Your Choices are :</h3>
  <div class="u-border-3 u-border-custom-color-5 u-line u-line-horizontal u-line-1"></div>
  <ul class=" u-font-courier-new u-text u-text-2 " style="font-family: 'Times New Roman'; size: 25px; ">
      <li>- Nodes : 30-60</li>
      <li>- Tier level: Tier II</li>
      <li>- Facility size: Medium</li>
      <li>- Room area (SQFT):{{request.POST.sqft}} </li>
    </ul>
  </div>
</section>


<!-- BRIEF  ------------------------------------------------------------------------------>


<section>
  <div>
    <h3 class="" style="color: #34345a; padding-left: 20px; ">Tier II</h3>
    <p style="color: black; padding-left: 20px; font-style: normal;">
      Tier II facilities cover redundant capacity components for power and cooling that provide better 
      maintenance opportunities and safety against disruptions, These components include:
    </p>
       <ul style="padding-left: 27px; color: black; font-style: italic;">
        <li>- Engine generators.</li>
        <li>- Energy storage.</li>
        <li>- Chillers.</li>
        <li>- Cooling units.</li>
        <li>- UPS modules.</li>
        <li>- Pumps.</li>
        <li>- Heat rejection equipment.</li>
        <li>- Fuel tanks.</li>
        <li>- Fuel cells.</li>
       </ul>
       <p style="color: black; padding-left: 20px; font-style: normal;">
       The distribution path of Tier II serves a critical environment, and the components can be removed without shutting it down. Like a Tier I facility, unexpected shutdown of a 
       Tier II data center will affect the system.
    </p>



  </div>
</section>


<!-- Features Table ------------------------------------------------------------------------------>
<section class="u-align-center u-clearfix u-custom-color-1 u-section-3" id="sec-1750" style="padding-top: 35px;padding-bottom: 35px;">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h3 class="u-align-center animate__animated animate__lightSpeedInRigh " style="size: 27px; font-family: 'Times New Roman';">Tier II Features</h3>
    <div class="u-table u-table-responsive u-table-1">
      <table class="u-table-entity u-table-entity-1" style=" font-family:Arial, Helvetica, sans-serif;size: 20px; width: auto; height: auto; margin: auto; border-color: antiquewhite ;border-style: double;"  >
        <thead class="u-align-center u-table-header u-table-header-1 " style="border-color: antiquewhite ;border-style: double;">
          <tr style="height: 46px;">
            <th >#</th>
            <th >Features </th>
            <th >Tier II</th>
          </tr>
        </thead>
        <tbody class="u-align-center u-table-body u-table-body-1" style="border-color: antiquewhite ;border-style: double;">
          <tr style="height: 62px;">
            <td>1</td>
            <td>Uptime guarantee</td>
            <td >99.741%</td>
          </tr>
          <tr style="height: 68px;">
            <td>2</td>
            <td>Downtime per year	</td>
            <td>more than 22 hours</td>
          </tr>
          <tr style="height: 68px;">
            <td >3</td>
            <td >Component redundancy	</td>
            <td> Partial power and cooling redundancy (partial N+1) </td>
          </tr>
          <tr style="height: 68px;">
            <td >4</td>
            <td >Concurrently maintainable</td>
            <td >no</td>
          </tr>
          <tr style="height: 68px;">
            <td >5</td>
            <td >Price</td>
            <td >$$</td>
          </tr>
          <tr style="height: 68px;">
            <td >6</td>
            <td >Compartmentalization</td>
            <td >no</td>
          </tr>
          <tr style="height: 68px;">
            <td >7</td>
            <td >Staffing</td>
            <td >1 shift</td>
          </tr>
          <tr style="height: 68px;">
            <td >8</td>
            <td>Typical customer</td>
            <td >SMBs</td>
          </tr>
          <tr style="height: 68px;">
            <td >9</td>
            <td >The main reason why companies select this tier</td>
            <td >A good cost-to-performance ratio</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


<!-----------------COSTING-------------------------------------------------------------------------->

<section class="u-align-center u-clearfix u-custom-color-1 u-section-4" id="sec-1750" style="padding-top: 35px;padding-bottom: 35px; background-color: #ebf3ed;">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h3 class="u-align-center animate__animated animate__lightSpeedInRigh " style="size: 27px; font-family: 'Times New Roman'; color: #34345a;">Tier III Cost</h3>
    <div class="u-table u-table-responsive u-table-1">
      <table class="u-table-entity u-table-entity-1" style=" font-family:Arial, Helvetica, sans-serif;size: 20px; width: auto; height: auto; margin: auto; border-color: antiquewhite ;border-style: double;"  >
        <thead class="u-align-center u-table-header u-table-header-1 " style="border-color: antiquewhite ;border-style: double;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cost Component</th>
        <th scope="col">SQFT /Unit</th>
        <th scope="col">Low Cost/sqft</th>
        <th scope="col">High Cost/sqft</th>
        <th scope="col">Total Low Cost</th>
        <th scope="col">Total High Cost</th>
      </tr>
    </thead>
    <tbody>
    
      <tr>
        <th scope="row">1</th>
        <td>Building Shell</td>
        <td>{{request.POST.sqft}}</td>
        <td>$80</td>
        <td>$160</td>
        <td>${{request.POST.sqft|multiply:80}}</td>
        <td>${{request.POST.sqft|multiply:160}}</td>

      </tr>


      <tr>
      <th scope="row">2</th>
      <td>Electrical Systems</td>
      <td>{{request.POST.sqft}}</td>
      <td>$280</td>
      <td>$460</td>
      <td>${{request.POST.sqft|multiply:280}}</td>
      <td>${{request.POST.sqft|multiply:460}}</td>

    </tr>
    <tr>
    <th scope="row">3</th>
    <td>HVAC / Mechanical / Cooling	</td>
    <td>{{request.POST.sqft}}</td>
    <td>$125</td>
    <td>$215</td>
    <td>${{request.POST.sqft|multiply:125}}</td>
    <td>${{request.POST.sqft|multiply:215}}</td>

  </tr>
  <tr>
  <th scope="row">4</th>
  <td>Fire Suppression	</td>
  <td>{{request.POST.sqft}}</td>
  <td>$15</td>
  <td>$25</td>
  <td>${{request.POST.sqft|multiply:15}}</td>
  <td>${{request.POST.sqft|multiply:25}}</td>

</tr>
<tr>
<th scope="row">5</th>
<td>Building Fit-Out</td>
<td>{{request.POST.sqft}}</td>
<td>$100</td>
<td>$200</td>
<td>${{request.POST.sqft|multiply:100}}</td>
<td>${{request.POST.sqft|multiply:200}}</td>

</tr>
<tr>
  <th scope="row">6</th>
  <td style="color: white; font-style: oblique; font-weight: bold;">Total Development Costs	</td>
  <td>{{request.POST.sqft}}</td>
  <td>$600</td>
  <td>$1,060</td>
  <td>${{totalLow}}</td>
  <td>${{totalMax}}</td>
  
  </tr>

    </tbody>
  </table>



  
<style>

  h1{
    font-family: "Times New Roman", Times, serif;
  }
  
  /* Container holding the image and the text */
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  
  table, th, td {
    border: 1px solid;
    text-align: center;
    width:auto;
    background-color: #34345a;
    color: #e9d8eb;
  
  
  }
  
  th{ 
    color: #ffffff;
  
  }
  
  h4{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    color: #34345a;
  }
  
  </style>
  







<style> .u-cookies-consent {
background-image: none;
}

.u-cookies-consent .u-sheet-1 {
min-height: 212px;
}

.u-cookies-consent .u-layout-wrap-1 {
margin-top: 30px;
margin-bottom: 30px;
}

.u-cookies-consent .u-layout-cell-1 {
min-height: 152px;
}

.u-cookies-consent .u-container-layout-1 {
padding: 30px 60px;
}

.u-cookies-consent .u-text-1 {
margin-top: 0;
margin-right: 20px;
margin-bottom: 0;
}

.u-cookies-consent .u-text-2 {
margin: 8px 20px 0 0;
}

.u-cookies-consent .u-layout-cell-2 {
min-height: 152px;
}

.u-cookies-consent .u-container-layout-2 {
padding: 30px;
}

.u-cookies-consent .u-btn-1 {
margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
.u-cookies-consent .u-sheet-1 {
min-height: 131px;
}

.u-cookies-consent .u-layout-cell-1 {
min-height: 125px;
}

.u-cookies-consent .u-text-1 {
margin-right: 0;
}

.u-cookies-consent .u-text-2 {
margin-right: 0;
}

.u-cookies-consent .u-layout-cell-2 {
min-height: 125px;
}
}

@media (max-width: 991px) {
.u-cookies-consent .u-sheet-1 {
min-height: 106px;
}

.u-cookies-consent .u-layout-cell-1 {
min-height: 100px;
}

.u-cookies-consent .u-container-layout-1 {
padding-left: 30px;
padding-right: 30px;
}

.u-cookies-consent .u-layout-cell-2 {
min-height: 100px;
}
}

@media (max-width: 767px) {
.u-cookies-consent .u-sheet-1 {
min-height: 225px;
}

.u-cookies-consent .u-layout-cell-1 {
min-height: 154px;
}

.u-cookies-consent .u-container-layout-1 {
padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;
}

.u-cookies-consent .u-layout-cell-2 {
min-height: 65px;
}

.u-cookies-consent .u-container-layout-2 {
padding: 10px;
}
}

@media (max-width: 575px) {
.u-cookies-consent .u-sheet-1 {
min-height: 121px;
}

.u-cookies-consent .u-layout-cell-1 {
min-height: 100px;
}

.u-cookies-consent .u-layout-cell-2 {
min-height: 15px;
}
}</style></section>

{% endblock  %}
