{% extends 'alpha/index.html' %}

{% block title %} Profile {{ request.user.first_name }} {% endblock %}


{% block content %}

<div class="container">
    <h1> Welcome {{ request.user.first_name  }} {{ request.user.last_name }}</h1>
    <h2>User Info</h2>
    <h5>User Name: {{ request.user.username }}</h5>
    <h5>Email: {{ request.user.email }}</h5>
    <h5>Birth date:{{ request.user.profile.birth_date }}</h5>
    <h5>Gender: {{ request.user.profile.gender }}</h5>
    <h5>Company:{{ request.user.profile.company }}</h5>
    <h5>Job Title : {{ request.user.profile.job }}</h5>
    <h5>Creation Date : {{ request.user.profile.creation_date }}</h5>



    

</div>


{% endblock %}