{% extends 'alpha/index.html' %}

{% block title %} Register New User {% endblock %}


{% block content %}
<section class="vh-50 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">

<div class="container">
    <form method="post" action="">
        {% csrf_token %}
        <h2 class="h3 mb-3 fw-normal" style="font-family: Arial, Helvetica, sans-serif; color: black; font-style:oblique ">Register New User</h2>
        
        <div class="form-floating mt-2">
          <input name="username" type="text" class="form-control"  placeholder="username">
          <label for="floatingInput">User Name</label>
        </div>

          <div class="form-floating mt-2">
            <input name="email" type="email" class="form-control"  id="floatingInput" placeholder="Email"/>
            <label class="form-label" for="form3Example3cg">Your Email</label>
          </div>
          
          <div class="form-floating mt-2">
            <input name="first_name" type="text" class="form-control" id="floatingInput" placeholder="First Name">
            <label for="floatingInput">First Name</label>
        </div>


        <div class="form-floating mt-2">
            <input name="last_name" type="text" class="form-control" id="floatingInput" placeholder="username">
            <label for="floatingInput">Last Name</label>
        </div>


        <div class="form-floating mt-2">
          <input name="company" type="text" class="form-control" id="floatingInput" placeholder="Company">
          <label for="floatingInput">Company</label>
      </div>


      <div class="form-floating mt-2">
          <input name="job" type="text" class="form-control" id="floatingInput" placeholder="Job Title">
          <label for="floatingInput">Job Title</label>
      </div>

        <div class="form-floating mt-2">
            <input name="birth_date" type="date" class="form-control" id="floatingInput" placeholder="birth date">
            <label for="floatingInput">Birth Date</label>
        </div>

        <div class="mt-2">
            <label class="form-labelform-control" id="floatingInput" placeholder="Gender" >Gender</label>
            <select name="gender" type="select" class="form-select">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>




          <div class="form-outline mb-4">
            <input name="password" type="password" class="form-control" id="floatingInput" placeholder="Password" />
          </div>

   

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" style="background-color: #c499cf;">Register</button>
          </div>

          <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'users:sign_in'%}"
              class="fw-bold text-body"><u>Sign in Here</u></a></p>
      </form>

</div>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}





